/* Global */
:root {
    /* Font Size */
    --font-micro: 16px;
    --font-small: 18px;
    --font-medium: 20px;
    --font-regular: 36px;
    --font-large: 140px;

    /* Font Weight */
    --weight-light: 300;
    --weight-regular: 400;
    --weight-semi-bold: 600;
}

/* Universal Tags */
* {
    box-sizing: border-box;
    margin:0;
}

body {
    background-color: #424242;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

input {
    width: 300px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    border: none;
    text-align: center;
    font-size: var(--font-medium);
    color: #ffffff;
}

input:focus,
input:active {
    outline: none;
}

input::placeholder {
    color: #cfcfcf;
    font-size: var(--font-small);
}

/* Clock */
.js-clock h1{
    padding-top: 200px;
    font-size: var(--font-large);
    font-weight: var(--weight-semi-bold);    
    cursor: default;
    opacity: 0.9;
}

/* Ask Name */
.form,
.greeting {
    display: none;
}

.showing {
    display: block;
}

.js-form {
    margin-top: 20px;
}

.js-form input {
    opacity: 0.9;
}

.js-greeting {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    opacity: 0.9;
    margin-top: 5px;
    cursor: default;
}

/* To Do List */
.js-toDoForm input {
    margin-top: 20px;
    opacity: 0.9;
}

.js-toDoList {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-top: 10px;
    font-size: var(--font-small);
    text-indent: -25px;
}

.js-toDoList li {
    display: inline-block;
    padding: 5px 0;
    cursor: default;
}

/* Weather */
.js-weather {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: var(--font-micro);
    font-weight: var(--weight-regular);
    cursor: default;
    text-align: right;
    opacity: 0.9;
}


/* Background Image */
.bgImage {
    position: absolute;
    top: 0;   
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
    :root {
    /* Font Size */
    --font-micro: 6px;
    --font-small: 14px;
    --font-medium: 16px;
    --font-regular: 24px;
    --font-large: 80px;
    }

    input {
        width: 250px;
        height: 30px;
    }

    .js-toDoForm input {
        margin-top: 10px;
    }

    .js-weather {
        top: 10px;
        right: 10px;
    }
}